body {
    font-family: "Poppins",sans-serif;
    margin: 0;
    padding: 0;
}

.cont4{
    justify-content: center;
    background-image: url("bg1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);

}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

form {
    display: grid;
    gap: 15px;
}
label{
    font-size: large;
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
  
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #ffc107;
    color: #fff;
    border: none;
    padding: 8px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    width: 100%;
    font-size: large;
}

button[type="submit"]:hover {
    background-color: #ffcd38;
}